In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/brice/WORKSPACE/blaze-tags-app/blaze-tags-app/blaze/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /home/brice/WORKSPACE/blaze-tags-app/blaze-tags-app/blaze/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/brice/WORKSPACE/blaze-tags-app/blaze-tags-app/blaze/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/brice/WORKSPACE/blaze-tags-app/blaze-tags-app/blaze/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /home/brice/WORKSPACE/blaze-tags-app/blaze-tags-app/blaze/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [10]:
import os
IMAGE_PATH='../data/images'
artistes=[l for l in os.listdir(IMAGE_PATH) if '.log' not in l]

In [15]:
len(artistes)

11

In [23]:
dfs=[]
for a in artistes:
    images=os.listdir(IMAGE_PATH+'/'+a)
    images_df=pd.DataFrame(images)
    images_df['label']=a
    images_df['images']=images_df[0]
    images_df=images_df.drop(columns=[0])
    dfs.append(images_df)

pd.concat(dfs)

              label                                             images
0    jeromemesnager  64359289_133091861223634_5809575524924711823_n...
1    jeromemesnager  65170770_384301085535440_8025770535667260902_n...
2    jeromemesnager  21690437_338148079978726_7715208985422331904_n...
3    jeromemesnager  18580438_1949723398604375_6135094339744825344_...
4    jeromemesnager  56180289_1998462286946465_4905422635646289687_...
..              ...                                                ...
638        fkitcorp  56679692_170217583970845_8593584159264127646_n...
639        fkitcorp  163290961_295206351964065_8995394519247944883_...
640        fkitcorp  53682556_857664807937291_6551127929577640545_n...
641        fkitcorp  17818977_276211076165323_7444227588773380096_n...
642        fkitcorp  53490960_2447639791915664_7833330739573873053_...

[4938 rows x 2 columns]

In [25]:

import tensorflow as tf
from tensorflow.keras.layers import Input, Add, Dense, Activation, BatchNormalization, Flatten, Conv2D, AveragePooling2D, MaxPooling2D, GlobalMaxPooling2D, Dropout
from tensorflow.keras import Model
from tensorflow.keras.applications import ResNet50

tf.keras.preprocessing.image_dataset_from_directory(
    IMAGE_PATH, labels='inferred', label_mode='categorical',
    class_names=artistes, color_mode='rgb', batch_size=32, image_size=(256,
    256), shuffle=True, seed=None, validation_split=None, subset=None,
    interpolation='bilinear', follow_links=False, smart_resize=False
)

Found 4934 files belonging to 11 classes.